:root{
    --soonio: #fd8f7e;
    --background-color : #f2f2f2;
    --shadow : rgba(0, 0, 0, 0.12) 0px 6px 16px;
    --btn-transition:0.3s;
    --title-color:#222222;
    --txt-color : #717171;
    --white : white;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Noto Sans', sans-serif;
}

h2{
    font-family: 'Noto Sans', sans-serif;
}

h3{
    font-family: 'Noto Sans', sans-serif;
}

.transit{
    transition: var(--btn-transition);
}

.btn{
    background-color: var(--soonio);
    color: var(--white);
    border-radius: 10px;
    font-weight: bold;
}

/* Navbar  */

.logo{
    height: 50px;
    width: fit-content;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* Header  */

.header{
    background: linear-gradient(#2222223b, #2222223b), url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1244&q=80) no-repeat;
    background-size: cover;
    height: 85vh;
}

.ctm-row{
    height: 85vh;
}

.container-search{
    background-color: var(--white);
    border-radius: 15px;
    min-height: 65px;
}

.search-selector{
    height: 100%;
}
